<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="Cake.Core" version="0.38.5" targetFramework="net472" />
  <package id="Confluent.Kafka" version="1.5.3" targetFramework="net472" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net472" />
  <package id="GSF.Core" version="2.3.302" targetFramework="net472" />
  <package id="librdkafka.redist" version="1.5.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="taglib-sharp-netstandard2.0" version="2.1.0" targetFramework="net472" />
</packages>